@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

:root {
  --main-color: #117050;
}

body {
  font-family: 'Open Sans', sans-serif
}